@font-face {
	font-family:'Gotham-Book';
	  src: url('../fonts/eot/Gotham-Book.eot');
    src: url('../fonts/eot/Gotham-Book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/woff/Gotham-Book.woff') format('woff'),
         url('../fonts/ttf/Gotham-Book.ttf') format('truetype'),
         url('../fonts/svg/Gotham-Book.svg#Gotham-Book') format('svg');
    font-weight: normal;
    font-style: normal;
	
	}
@font-face {
	font-family:'Gotham-Medium';
	  src: url('../fonts/eot/Gotham-Medium.eot');
    src: url('../fonts/eot/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/woff/Gotham-Medium.woff') format('woff'),
         url('../fonts/ttf/Gotham-Medium.ttf') format('truetype'),
         url('../fonts/svg/Gotham-Medium.svg#Gotham-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family:'HelveticaNeueLTStd-LtCn';
	  src: url('../fonts/eot/HelveticaNeueLTStd-LtCn.eot');
    src: url('../fonts/eot/HelveticaNeueLTStd-LtCn.eot?#iefix') format('embedded-opentype'),
         url('../fonts/woff/HelveticaNeueLTStd-LtCn.woff') format('woff'),
         url('../fonts/ttf/HelveticaNeueLTStd-LtCn.ttf') format('truetype'),
         url('../fonts/svg/HelveticaNeueLTStd-LtCn.svg#HelveticaNeueLTStd-LtCn') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family:'HelveticaNeueLTStd-LtCnO';
	  src: url('../fonts/eot/HelveticaNeueLTStd-LtCnO.eot');
    src: url('../fonts/eot/HelveticaNeueLTStd-LtCnO.eot?#iefix') format('embedded-opentype'),
         url('../fonts/woff/HelveticaNeueLTStd-LtCnO.woff') format('woff'),
         url('../fonts/ttf/HelveticaNeueLTStd-LtCnO.ttf') format('truetype'),
         url('../fonts/svg/HelveticaNeueLTStd-LtCnO.svg#HelveticaNeueLTStd-LtCnO') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
	overflow-y:hidden; 
	margin:0;
}
#loading {
	position:fixed;
	background-color:#fff;
	width:100%;
	height:100%;
	z-index:3000;
	margin:0;
	
	}
#loading_container {
	max-width:300px;
	width:100%;
	position:relative;
	top:25%;
	margin:0 auto;
	text-align:center;
	}
 h2 { 
 font-family:'HelveticaNeueLTStd-LtCn'; 
 font-size:40px; 
 }
 p { 
 font-family:'Gotham-Book', Arial, Helvetica, sans-serif;
 }
.header {
	height:80px; position:fixed; 
	top:0;  width:100%;
	z-index:999;}
#menu-nav {
	width:100%; 
	background-color:#3E3F40; 
	height:100%;
	padding:1px 15px; 
	color:#fff; 
	position:absolute; 
	top:0;
	right:0;
	display:none;
	}
#menu-nav ul {
	padding-top:10px;
	}
#menu-nav li {
	list-style:none; 
	display:inline-block;
	}
#menu-nav li a {
	padding:10px 15px; 
	color: #fff; 
	font-family:'Gotham-Book'; 
	text-decoration:none;
	}
#side-container {
	height:auto; 
	width:6800px;
	margin-top:70px; 
	overflow:hidden;
	}
#s1, #s2, #s3, #s4, #s5 {
	width:1000px; 
	height:580px; 
	float:left; 
	display:inline-block; 
	margin:0 150px;
	}
#s1 {
	margin-left:225px;
	}
#title {
	font-family:'HelveticaNeueLTStd-LtCn'; 
	font-size:40px; font-weight:100; 
	text-transform:uppercase; 
	display:inline; 
	position:absolute; 
	left:0; top:5%; 
	margin-left:80px; 
	margin-top:10px;
	}
#title span {
	font-family:'Gotham-Medium'; 
	font-weight:bold; 
	text-transform:uppercase; 
	font-size:40px;
	border-right:2px solid #000; 
	padding-right:10px;
	}
#button {
	position:absolute;	
	right:5%; 
	top:0%;	
	padding:10px; 
	font-size:20px; 
	z-index:1000;
	background:#fff;
	}
#button img{ 
	height:40px;
	}
.section-left{
	height:100%;
	width:460px; 
	padding:10px; 
	float:left;
	}
.section-right{
	height:100%; 
	width:460px; 
	padding:10px; 
	float:right; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:16px;
	}
.port-container { 
	width:295px; 
	height:178px; 
	display:inline-block; 
	position:relative; 
	overflow:hidden;
	}
.overlay { 
	position:absolute; 
	bottom:0; 
	width:100%; 
	height:100%;
	-webkit-transition:all linear 400ms; 
	-moz-transition:all linear 400ms; 
	-o-transition:all linear 400ms;
	}
.overlay img {
	width:100%;
	height:100%;
	}	
.overlay span{
	color:#fff; 
	text-decoration:none; 
	position:absolute; 
	top:40%; 
	left:40%; 
	font-size:20px; 
	text-transform:capitalize; 
	font-family:Arial, Helvetica, sans-serif; 
	opacity:0; 
	-webkit-transition:all linear 600ms; 
	-moz-transition:all linear 600ms; 
	-o-transition:all linear 600ms;
	}
.overlay:hover span {
	opacity:1;
	}
.overlay:hover { 
	background-color:rgba(132,132,132,0.8);
	}

#slider {
    width: 1000px; /* important to be same as image width */
    height: 470px; /* important to be same as image height */
    position: relative; /* important */
	overflow: hidden; /* important */
}
#sliderContent {
    width:950px; /* important to be same as image width or wider */
    position: absolute;
	top: 0;
	margin-left: 0;
}
.sliderImage {
    float: left;
    position: relative;
	display: none;
}
.sliderImage span {
    position: absolute;
	font: 10px/15px Arial, Helvetica, sans-serif;
    padding: 10px 13px;
    width: 384px;
    background-color: #000;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
	-khtml-opacity: 0.7;
    opacity: 0.7;
    color: #fff;
    display: none;
	width:100%;
}
.clear {
	clear: both;
}
.sliderImage span strong {
    font-size: 14px;
}
.top {
	top: 0;
	left: 0;
}
.bottom {
	bottom: 0;
    left: 0;
}
ul { 
	list-style-type: none;
	}
#address { 
	border-left:1px solid #000; 
	padding-left:20px; 
	margin-bottom:10px; 
	width:344px; 
	float:left;
	}
#contact-form {
	width:344px;
	float:left;}
#contact-form input [type="text"] { 
	width:151px;
	}
#contact-form textarea#message {
	max-width:311px; 
	max-height:300px; 
	min-height:150px; 
	width:100%; 
	margin-top:5px;
	} 
#map_canvas{
	width: 100%; 
	height:100%;
	}
#s5 .section-right {
	padding:0; 
	width:600px;
	}
#s5 .section-left { 
	width:300px;
	}